[submodule "external/ouzel"]
	path = external/ouzel
	url = https://github.com/elnormous/ouzel.git
[submodule "external/vlc"]
	path = external/vlc
	url = https://github.com/videolan/vlc
[submodule "external/vlc-2.2.1.32-2013"]
	path = external/vlc-2.2.1.32-2013
	url = https://github.com/sunqueen/vlc-2.2.1.32-2013
