[submodule "external/ouzel"]
	path = external/ouzel
	url = https://github.com/elnormous/ouzel.git
[submodule "external/libvlc-sdk"]
	path = external/libvlc-sdk
	url = https://github.com/RSATom/libvlc-sdk
